/* Tablet Layout
------------------------------------------------------- */
@media only screen and (max-width:770px) {
  .hide-tablet { display:none; }
  .show-tablet { display:block; }
}

/* Mobile Layout
------------------------------------------------------- */
@media only screen and (max-width:720px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 { width:100%; max-width:100%; }
  .margin0,
  .margin1,
  .margin2,
  .margin3,
  .margin4,
  .margin5,
  .margin6,
  .margin7,
  .margin8,
  .margin9,
  .margin10,
  .margin11,
  .margin12 { margin-left:0; }
  .pad4c { padding:0; }
  .pad4,
  .pad4h { padding-left:20px; padding-right:20px; }
  .pad8 { padding:40px 20px; }
  .hide-mobile { display:none; }
  .show-mobile { display:block; }
  .icon {
    background-image:url(img/sprite@2x.png);
    background-size:240px 240px;
  }
}


@media screen and (max-width: 900px) and (orientation: landscape) {
  div.blog-tile-grid {
    margin-top: -17px;
  }
  div.blog-tile {
    height: 170px;
  }
  .blog-tile div.title-plaque {
    font-size: 0.77em;
  }
}
@media screen and (max-width: 570px) and (orientation: landscape) {
  div.blog-tile {
    height: 125px;
  }
  .blog-tile div.title-plaque {
    font-size: 0.75em;
    line-height: 15px;
  }
}

/** iPhone <6 portrait **/
@media screen and (max-height: 740px) and (orientation: portrait) {
  .header h1.title {
    font-size: 1.9em;
    letter-spacing: 0.3em;
  }
  .menu {
    font-size: 90%;
  }
  .heading {
    margin-top: -20px;
  }
  .heading h2.blog-title-h {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  div.blog-tile-grid {
    margin: -30px 0;
  }
  div.blog-tile {
    width: 48%;
    height: 125px;
  }
  .blog-tile div.title-plaque {
    font-size: 0.6em;
    line-height: 12px;
    padding: 6px;
  }
}

/** iPad portrait **/
@media screen and (min-width: 765px) and (orientation: portrait) {
  div.blog-tile {
    height: 200px;
  }
  .blog-tile div.title-plaque {
    line-height: 15px;
  }
}