/* Read content styling */
.prose ul {
  list-style:disc;
  margin-left:40px;
}
.prose ol {
  list-style:decimal;
}
.prose p {
  margin:0 0 10px;
}

/* Global Layout
------------------------------------------------------- */
.container {
  max-width:1600px;
  margin:0 auto;
  overflow:hidden;
}

/* Global Style
------------------------------------------------------- */
.heading,
.header {
  padding:20px 0 5px 0;
  text-align: center;
}
.header .title {
  font-size:35px;
  line-height:1.3;
  font-weight:bold;
  letter-spacing:0.5em;
  margin:0 0 12px 0;
}
.header .title a {
  color:#516066;
}

.menu {
  text-align:center;
}
.menu a {
  margin:0 10px 0 10px;
  line-height: 1.67;
}

.all-caps {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.blog-tile-grid {
  margin: 0 2%;
}

.blog-tile {
  width: 31.2%;
  height: 260px;
  margin: 0 1% 3% 1%;
  padding-bottom: 5%;
  background-color: #96b9c5;
  position: relative;
}

.blog-tile .title-plaque {
  background: #ffffff;
  opacity: 0.75;
  -webkit-transition:opacity 300ms;
  -moz-transition:opacity 300ms;
  -o-transition:opacity 300ms;
  transition:opacity 300ms;
  position: absolute;
  top: auto;
  bottom: 17%;
  width: 80%;
  line-height: 20px;
  margin: auto 8%;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
}

.blog-tile a {
  height: 130%;
  display: block;
}

.blog-tile:hover .title-plaque {
  opacity: 0.91;
}

.splash img {
  background:#f0f0f0;
  margin:0 auto;
  display:block;
  max-width:100%;
}
.date {
  color:#d4d7d9;
  letter-spacing: 0.05em;
  font-weight:normal;
}

.blog-title-h {
  font-size: 28px;
}

.blog-content {
  margin: 20px 0 60px 0;
  line-height: 1.5em;
  text-align: center;
}

.blog-content p {
  text-align: left;
  margin-top: 17px;
  color: #415056;
}

.blog-content h2, h3 {
  margin-top: 20px;
}

.blog-content h2, h3, h4, h5 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 1.5em;
}

.blog-content img, iframe {
  max-width: 100%;
  margin: 20px auto;
}

/* Columns
------------------------------------------------------- */
.col0    { float:left; width:04.1666%; }
.col1    { float:left; width:08.3333%; }
.col2    { float:left; width:16.6666%; }
.col3    { float:left; width:25.0000%; }
.col4    { float:left; width:33.3333%; }
.col5    { float:left; width:41.6666%; }
.col6    { float:left; width:50.0000%; }
.col7    { float:left; width:58.3333%; }
.col8    { float:left; width:66.6666%; }
.col9    { float:left; width:75.0000%; }
.col10   { float:left; width:83.3333%; }
.col11   { float:left; width:91.6666%; }
.col12   { width:100%; }
.margin0  { margin-left:04.1666%; }
.margin1  { margin-left:08.3333%; }
.margin2  { margin-left:16.6666%; }
.margin3  { margin-left:25.0000%; }
.margin4  { margin-left:33.3333%; }
.margin5  { margin-left:41.6666%; }
.margin6  { margin-left:50.0000%; }
.margin7  { margin-left:58.3333%; }
.margin8  { margin-left:66.6666%; }
.margin9  { margin-left:75.0000%; }
.margin10 { margin-left:83.3333%; }
.margin11 { margin-left:91.6666%; }
.margin12 { margin-left:100.0000%; }

/* Padding
------------------------------------------------------- */
.pad1    { padding:10px; }
.pad2    { padding:15px 20px; }
.pad21h  { padding:10px 20px; }
.pad2h   { padding:0 20px; }
.pad4    { padding:40px; }
.pad4h   { padding-left:40px; padding-right:40px; }
.pad8    { padding:80px 40px; }
.pad4c   { padding:40px; }

/* Additional Utility Classes
------------------------------------------------------- */
.fr           { float:right; }
.fl           { float:left; }
.show         { display:block; }
.hide         { display:none; }
.deemphasize  { color:#888; }
.center       { text-align:center; }

.tip-top:after,
.tip-right:after,
.tip-bottom:after,
.tip-left:after {
  content:'';
  border-width:0 5px 5px;
  border-style:solid;
  position:absolute;
  border-color:#333 transparent;
}
.tip-bottom:after {
  border-width:5px 5px 0;
}
.tip-left:after {
  border-width:5px 5px 5px 0;
  border-color:transparent #333;
}
.tip-right:after {
  border-width:5px 0 5px 5px;
}

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

.fl       { float:left; }
.fr       { float:right; }
.clearfix { display:inline-block; }
.centered { text-align:center; }



