---
layout: default
---
<div class='listing pad2'>

    <div class="blog-tile-grid">
        {% for item in site.categories[page.section] limit:1000 %}

        {% if item.tile != '' %}
        {% capture tileUrl %}{{site.baseurl}}/{{item.tile}}{% endcapture %}
        {% else %}
        {% capture tileUrl %}{{site.baseurl}}/{{site.defaulttile}}{% endcapture %}
        {% endif %}
        <div class="blog-tile fl" style="background: url({{tileUrl}}) no-repeat; background-size: 100% 100%">

            <a class="item" href="{{site.baseurl}}{{item.url}}">
                <div class="title-plaque">
                    <span class="title-text">{{item.title}}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>